<aside>
  <form>
    <div class="categories">
      <label for="categories--select" class="categories--label"
        >Categories:</label
      >
      <select id="categories--select" class="categories--select">
        <option
          class="categories--select__option"
          *ngFor="let category of categories; let i = index"
          value="category"
        >
          {{ category }}
        </option>
      </select>
    </div>
    <div class="price">
      <div class="price--header">
        <h2>Price Range</h2>
        <p>Use slider or enter min and max price</p>
      </div>
      <div class="price--input">
        <div class="price--input__field">
          <span>Min</span>
          <input type="number" class="input-min" [value]="minPrice" />
        </div>
        <div class="price--input__separator">-</div>
        <div class="price--input__field">
          <span>Max</span>
          <input type="number" class="input-max" [value]="maxPrice" />
        </div>
      </div>
      <div class="price--slider">
        <div class="price--slider__progress"></div>
      </div>
      <div class="price--range">
        <input
          type="range"
          class="price--range__min"
          [min]="minPrice"
          [max]="maxPrice"
          value="500"
        />
        <input
          type="range"
          class="price--range__min"
          [min]="minPrice"
          [max]="maxPrice"
          value="2000"
        />
      </div>
    </div>
    <div class="certifications">
      <label for="certifications--select" class="certifications--label"
        >Certifications:</label
      >
      <select id="certifications--select" class="certifications--select">
        <option
          class="certifications--select__option"
          *ngFor="let certification of certifications; let i = index"
          value="certification"
        >
          {{ certification }}
        </option>
      </select>
    </div>
    <div class="producers">
      <label for="producers--select" class="producers--label">Producers:</label>
      <select id="producers--select" class="producers--select">
        <option
          class="producers--select__option"
          *ngFor="let producer of producers; let i = index"
          value="producer"
        >
          {{ producer }}
        </option>
      </select>
    </div>
  </form>
</aside>
