<header class="header" (window:resize)="onResize($event)">
  <div class="header__content">
    <a
      class="header__content--logo"
      [routerLink]="navData.logo.routerLink"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      {{navData.logo.content}}
    </a>

    <nav [ngClass]="getNavType()">
      <ul>
        <li *ngFor="let link of navData.links">
          <a
            (click)="menuToggleHandler()"
            [routerLink]="link.routerLink"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
          >
            <span *ngIf="link.isIcon"><mat-icon>{{link.content}}</mat-icon></span>
            <span *ngIf="!link.isIcon">{{link.content}}</span>
          </a>
        </li>
      </ul>
      <button
        class="button"
        (click)="menuToggleHandler()"
        [routerLink]="navData.buttonLink.routerLink"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        {{navData.buttonLink.content}}
      </button>
    </nav>
    <!-- burger for small screens -->
    <div class="header__content--toggle">
      <a
        *ngIf="!isMenuOpen"
        class="header__content--toggle__burger"
        (click)="menuToggleHandler()"
        ><mat-icon>reorder</mat-icon></a
      >
      <a
        *ngIf="isMenuOpen"
        class="header__content--toggle__close"
        (click)="menuToggleHandler()"
        ><mat-icon>clear</mat-icon></a
      >
    </div>
  </div>
</header>
