@import "../../.././../../../variables.scss";

.image__container {
  width: 100%;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);

  @include breakpoint(md) {
    max-width: 40rem;
  }

  &--image {
    width: 100%;
    vertical-align: top;
  }
}
