<div class="product">
    <div class="product--image">
        <img src="assets/main-page/products/chicken__soup.jpg"/>
    </div>
    <div class="product--label">
        <h2>{{product.productName}}</h2>
    </div>
    <div class="product--description">
        {{product.productDescription}}
    </div>
    <div class="product--label">
        <h3>Brief details</h3>
    </div>
    <div class="product--details">
        <div class="product--details__info">
            <div class="product--details__info--label">Price per meal:</div>
            <div class="product--details__info--data">{{product.productPrice}}$</div>
        </div>
        <div class="product--details__info">
            <div class="product--details__info--label">Main category:</div>
            <div class="product--details__info--data">{{product.productCategory}}</div>
        </div>
        <div class="product--details__info">
            <div class="product--details__info--label">Certifications:</div>
            <div class="product--details__info--data">{{product.productCertificate}}</div>
        </div>
        <div class="product--details__info">
            <div class="product--details__info--label">Provider:</div>
            <div class="product--details__info--data">{{product.productProducer}}</div>
        </div>
        <div class="product--details__info">
            <div class="product--details__info--label">Kcal range:</div>
            <div class="product--details__info--data">{{product.productKcal[0]}}-{{product.productKcal[1]}}</div>
        </div>
    </div>
</div>
