<div class="product">
    <div class="product--image">
        <img src="../../../../assets/main-page/products/chicken__soup.jpg"/>
    </div>
    <div class="product--label">
        <h2>Product</h2>
    </div>
    <div class="product--description">
        Everyone has their own favorite chicken soup recipe, but rarely have so few ingredients added up to so much comfort. This version has classic flavors and, thanks to a simplified method, cooks more quickly than traditional chicken soups (the dish is ready in a little over an hour). There's no need to make a separate stock; the vegetables and meat form their own satisfying broth.
    </div>
    <div class="product--label">
        <h3>Brief details</h3>
    </div>
    <div class="product--details">
        <div class="product--details__info">
            <div class="product--details__info--label">Price per meal:</div>
            <div class="product--details__info--data">345$</div>
        </div>
        <div class="product--details__info">
            <div class="product--details__info--label">Main category:</div>
            <div class="product--details__info--data">Soups</div>
        </div>
        <div class="product--details__info">
            <div class="product--details__info--label">Certifications:</div>
            <div class="product--details__info--data">ECO</div>
        </div>
        <div class="product--details__info">
            <div class="product--details__info--label">Provider:</div>
            <div class="product--details__info--data">Blods</div>
        </div>
        <div class="product--details__info">
            <div class="product--details__info--label">Kcal range:</div>
            <div class="product--details__info--data">2000-3000</div>
        </div>
    </div>
</div>
