@import "../../../variables.scss";

.cart {
    padding-top: 1rem;

    &--label {
        padding-top: .5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &--content {
       
        @include breakpoint(md) {
            display: grid;
            grid-template-columns: 60% 40%;
    
        }
    }

    @include breakpoint(md) {
        width: 90%;
        padding: 0 2rem;
        margin: 0 auto;
    }
}