<div class="product">
  <div class="product--image">
    <img src="{{cartItem?.imageUrl}}"/>
  </div>
  <div class="product--content">
    <div class="product--content__description">
      <div class="product--content__description--label">{{cartItem?.name}}</div>
      <div class="product--content__description--amount">
        <span>Portions:</span>
        <div class="product--content__description--amount__quantities">
          <i class="material-icons" id="reduce" (click)="reduceCartItemQuantity()">remove_circle_outline</i><span>{{cartItem?.quantity}}</span
          ><i class="material-icons" id="increase" (click)="increaseCartItemQuantity()">add_circle_outline</i>
        </div>
      </div>
      <div class="product--content__description--icon">
        <i class="material-icons" (click)="openModal()">close</i>
      </div>
    </div>
  </div>
  <app-modal #modal title="Remove item from cart" description="Do you really want to remove this item?"></app-modal>
</div>
