<div class="product">
  <div class="product--image">
    <img src="../../../../assets/main-page/products/chicken__soup.jpg"/>
  </div>
  <div class="product--content">
    <h2 class="product--content__name">product name</h2>
    <div class="product--content__description">quick product description</div>
    <div class="product--content__overview">
      <div class="product--content__overview--remove">
        <button>Remove</button>
      </div>
      <div class="product--content__overview--price">33.33$</div>
    </div>
  </div>
</div>
