@import "./../../../variables.scss";

.wrapper {
  margin: 0 auto;

  @include breakpoint(md) {
    width: 70%;
  }

  &--main {

    @include breakpoint(md) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}


