<div class="wrapper">
  <div class="wrapper--main" *ngIf="(productDetails$ | async)">
    <app-product-details-image [slides]="(productDetails$ | async)!.productImages"></app-product-details-image>
    <app-product-details-info [productDetails]="(productDetails$ | async)"></app-product-details-info>
  </div>
  <div class="wrapper--main">
    <app-product-details-order [productDetails]="(productDetails$ | async)"></app-product-details-order>
    <app-product-details-summary [productDetails]="(productDetails$ | async)"></app-product-details-summary>
  </div>
</div>
