@import "./../../../variables.scss";

.loading-container {
  position: absolute;
  height: 50%;
  width: 100%;
}

.wrapper {
  margin: 0 auto;

  @include breakpoint(md) {
    width: 70%;
  }

  &--main {
    @include breakpoint(md) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  &--top {
    min-height: 30rem;
  }

  &--info {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--bottom {
    background-color: bisque;
  }
}