@import "../../../variables.scss";

.products {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: 55em) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 80em) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
