<header class="header" (window:resize)="onResize($event)">
    <div class="header__content">
      <a
        class="header__content--logo"
        (click)="menuToggleHandler()"
      >
        Eco Fresh
    </a>

      <nav
        [ngClass]="getNavType()"
      >
        <ul>
          <li>
            <a (click)="menuToggleHandler()">
              Page one
            </a>
          </li>
          <li>
            <a (click)="menuToggleHandler()">
              Page two
            </a>
          </li>
          <li>
            <a (click)="menuToggleHandler()">
              Page three
            </a>
          </li>
        </ul>
        <button class="button">CTA Page</button>
      </nav>
      <div class="header__content--toggle">
        <a *ngIf="!isMenuOpen" class="header__content--toggle" (click)="menuToggleHandler()"><mat-icon>reorder</mat-icon></a>
        <a *ngIf="isMenuOpen" class="header__content--toggle__close" (click)="menuToggleHandler()"><mat-icon>clear</mat-icon></a>
      </div>
    </div>
  </header>
