<header class="header">
    <div class="header__content">
      <a
        class="header__content--logo"
      >
        navbar
    </a>

      <nav
        class="header__content--nav" 
      >
        <ul>
          <li>
            <a >
              Page one
            </a>
          </li>
          <li>
            <a >
              Page two
            </a>
          </li>
          <li>
            <a >
              Page three
            </a>
          </li>
        </ul>
        <Button class="button">CTA Page</Button>
      </nav>
      <div class="header__content--toggle">
        
      </div>
    </div>
  </header>
