<div class="wrapper">
  <div class="container">
    <div class="image--container">
      <img
        class="image--container__img"
        src="./../../assets/main-page/products/chicken__soup.jpg"
      />
    </div>
    <div class="product">
      <div class="product--label">
        <div class="product--label__title"><h2>Chicken soup</h2></div>
        <div class="product--label__price"><h2>33.33 $</h2></div>
        <div class="product--label__description">
          Everyone has their own favorite chicken soup recipe, but rarely have
          so few ingredients added up to so much comfort. This version has
          classic flavors and, thanks to a simplified method, cooks more quickly
          than traditional chicken soups (the dish is ready in a little over an
          hour). There's no need to make a separate stock; the vegetables and
          meat form their own satisfying broth.
        </div>
        <div class="product--label__details">
          <div class="product--label__details--info">
            <div class="product--label__details--info__label">
              Main category:
            </div>
            <div class="product--label__details--info__data">Soups</div>
          </div>
          <div class="product--label__details--info">
            <div class="product--label__details--info__label">
              Certifications:
            </div>
            <div class="product--label__details--info__data">ECO</div>
          </div>
          <div class="product--label__details--info">
            <div class="product--label__details--info__label">Provider:</div>
            <div class="product--label__details--info__data">Blods</div>
          </div>
          <div class="product--label__details--info">
            <div class="product--label__details--info__label">Kcal range:</div>
            <div class="product--label__details--info__data">2000-3000</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="recipe">Show Recipe TODO</div>
  <div class="order">
    <div class="order--label"><h2>Check your order</h2></div>
    <div>
      <form class="order--form">
        <div>TODO FORM</div>
      </form>
    </div>
  </div>
</div>
