@import "../../../../variables.scss";

.summary {
    padding: .5rem 0;
    width: 100%;

    &--info {
        margin: 0 1rem;
        grid-template-columns: 2fr 1fr;
        padding: 0 .5rem;
        padding-top: 1rem;
  
        &__row {
            display: grid;
            grid-template-columns: 2fr 1fr;
            margin: 0 1rem;
        }

        &__ingredients {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: .5rem 0rem;
        }
    }
}