<div class="order">
  <div class="order--label"><h2>Fill your order</h2></div>
  <form>
    <input type="hidden" [value]="productDetails?.productId" />
    <div class="quantity">
      <label for="quantity--select" class="quantity--label"
        >Number of meals:</label
      >
      <select
        id="quantity--select"
        class="quantity--select"
        [(ngModel)]="selectedMealAmount"
        [ngModelOptions]="{ standalone: true }"
      >
        <option
          *ngFor="let mealAmount of mealAmountArr"
          value="{{ mealAmount }}"
        >
          {{ mealAmount }}
        </option>
      </select>
    </div>
  </form>
  <div class="order--price">
    <div class="order--price__label">Total price:</div>
    <div class="order--price__data">{{ getTotalPrice() | price }} $</div>
  </div>
  <div class="order--actions">
    <div class="order--actions__return">
      <button class="submit" routerLink="/products">Go back</button>
    </div>
    <div class="order--actions__submit">
      <button class="return" (click)="openModal()">Add to cart</button>
    </div>
  </div>
  <app-modal #modal></app-modal>
</div>
