@import "../../../../variables.scss";

.order {
    padding: 1rem .5rem;
    width: 100%;
    height: 100%;
  
    &--label {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &--price {
      display: grid;
      grid-template-columns: 2fr 1fr;
      padding-top: 1rem;

      &__label, &__data {
          font-weight: bold;
      }
  }

  &--actions {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 1rem;
    padding-top: 2rem;

    &__submit {
        width: 50%;
        text-align: end;

        & button {
            background-color: rgb(126, 233, 126);

            &:hover {
                background-color: rgb(32, 99, 32);
            }
        }
    }

    &__return {
        width: 50%;
        
        text-align: start;

        & button {
            background-color: rgb(241, 114, 114);

            &:hover {
                background-color: rgb(121, 10, 10);
            }
        }
    }

    & button {
        font-weight: 700;
        border-radius: $border-radius;
        border: 1px solid black;
        padding: .5rem;
        transition: 0.1s;
        cursor: pointer;
      
        & span {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
        }
      
        &:hover {
          color: $light;
        }
      }
}
}

.quantity, .kcal {
  width: 100%;
  padding-top: 1rem;
  display: grid;
  grid-template-columns: 50% 50%;

  &--label {
    margin-right: 1rem;
  }

  &--select {
    padding: 0.2rem;
    border-radius: $border-radius;
    background-color: white;

    &::selection {
      background-color: white;
    }

    &:active {
      background-color: white;
    }
  }
}