@import "../../../variables.scss";

.values {
    background-color: $values;
    width: 100%;
    min-height: 5rem;
    color: $dark;
    padding: 1rem;
    display: flex;
    font-size: 1rem;

    &__label {
        width: 100%;
        text-align: center;

        &--title {
            
            @include breakpoint(md) {
                font-size: 3rem;
            }
        }

        &--list {
            padding: 0;
            display: grid;
            list-style: none;
            grid-template-columns: 100%;

            @include breakpoint(md) {
                grid-template-columns: 33% 33% 33%;

            }

            &__item {
                padding: 2rem;

                & h1 {
                    color: $dark;
                }
            }
        }
    }
}