@import "../../../../variables.scss";

.products {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: 55em) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 80em) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}