<app-resource-area
  [httpResource]="httpResourceService.httpResources['productsResource']"
>
  <section>
    <a class="products">
      <app-product
        [product]="product"
        *ngFor="let product of pageProducts$ | async"
        [routerLink]="['/products', product.productId]"
      ></app-product>
    </a>
    <app-pagination
      (changePage)="changePage($event)"
      [currentPage]="currentPage"
      *ngIf="(productsLength$ | async)! > 0"
      [total]="(productsLength$ | async)!"
    ></app-pagination>
  </section>
</app-resource-area>
