<div class="summary">
  <div class="summary--label"><h2>Order summary</h2></div>
  <div class="summary--info">
    <div class="summary--info__row">
      <div class="summary--info__row--label"><b>Estimated price:</b></div>
      <div class="summary--info__row--data"><b>33.33$</b></div>
    </div>
    <div class="summary--info__row">
      <div class="summary--info__row--label">Portions (meals):</div>
      <div class="summary--info__row--data">4</div>
    </div>
    <div class="summary--info__row">
      <div class="summary--info__row--label">Kcal per meal:</div>
      <div class="summary--info__row--data">2000</div>
    </div>
    <h3 class="summary--info__ingredients">Ingredients</h3>
    <div class="summary--info__row">
      <div class="summary--info__row--label">Chicken wing (300g)</div>
      <div class="summary--info__row--data">2</div>
    </div>
    <div class="summary--info__row">
      <div class="summary--info__row--label">Avocado oil</div>
      <div class="summary--info__row--data">30g</div>
    </div>
    <div class="summary--info__row">
      <div class="summary--info__row--label">Clove of garilc</div>
      <div class="summary--info__row--data">6</div>
    </div>
    <div class="summary--info__row">
      <div class="summary--info__row--label">Onion</div>
      <div class="summary--info__row--data">1</div>
    </div>
    <div class="summary--info__row">
      <div class="summary--info__row--label">Large carrot</div>
      <div class="summary--info__row--data">2</div>
    </div>
  </div>
  <div class="summary--actions">
    <div class="summary--actions__return"><button class="submit">Go back</button></div>
    <div class="summary--actions__submit"><button class="return">Add to cart</button></div>
  </div>
</div>
