<div class="stories">
  <div class="stories__label">
    <h1>Opinions from our customers!</h1>
  </div>
  <app-customer-story [customerName]="'Gregor Notwell'" [customerBio]="'Father of none'" [alt]="'Gregor Notwell'" [src]="''">
    Thanks to eco-fresh fresh ingredients delivery I don't have to move my lazy
    ass. It saved my life, my introvert nature doesn't allow me to go outside. I
    don't know how long will I make it with only pizza and kebabs.
  </app-customer-story>
  <app-customer-story [isEven]="true" [customerName]="'Jan Kowalski'" [customerBio]="'Father of 5 children'" [alt]="'Gregor Notwell'" [src]="''">
    Thanks to eco-fresh I don't have to make shopping for like 3 hours in order
    to get top quality ingredients for my family.
  </app-customer-story>
  <app-customer-story [customerName]="'Marta Majowska'" [customerBio]="'Random wife'" [alt]="'Marta Majowska'" [src]="''">
    My husband loves me more than ever. I used to make food from not fresh
    ingredients, because I didn't want to throw away food. Now I am free from my
    burden.
  </app-customer-story>
</div>
