@import "../../../variables.scss";

.nav {
  width: 100%;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  color: white;

  @include breakpoint(md) {
    justify-content: center;
    align-items: center;
  }

  &--form {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: $Poppins;

    @include breakpoint(md) {
      width: 50%;
    }

    &__search {
      padding: 0.5rem;
      width: 70%;
      border: 0;
      box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }

    &__categories {
      background-color: $primary;
      border: 0;
      border-left: 0.5px solid black;
    }

    &__filter {
      background-color: $primary;
      border: 0;
      border-left: 0.5px solid black;
    }

    &__submit {
      border: 0;
      border-left: 0.5px solid black;
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      border-right: 1px solid black;
      background-color: $primary;
    }
  }

  &--category {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;

    &__label {
      margin-bottom: 1rem;
    }

    &__items {
      display: grid;
      grid-template-columns: 50% 50%;
      text-align: center;

      @include breakpoint(md) {
        grid-template-columns: 25% 25% 25% 25%;
      }
    }

    &__item {
      height: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;

      @include breakpoint(md) {
      }
    }
  }
}
