<div class="info">
  <h2 class="info--label">{{productDetails?.productName}}</h2>
  <div class="info--details">
    <div class="info--details__row">
        <div class="label--price">Est. price:</div>
        <div class="data--price">{{productDetails?.productPrice}}$</div>
      </div>
    <div class="info--details__row">
      <div class="label">Main category:</div>
      <div class="data">{{productDetails?.productCategory}}</div>
    </div>
    <div class="info--details__row">
      <div class="label">Certifications:</div>
      <div class="data">{{productDetails?.productCertificate}}</div>
    </div>
    <div class="info--details__row">
      <div class="label">Provider:</div>
      <div class="data">{{productDetails?.productProducer}}</div>
    </div>
    <div class="info--details__row">
      <div class="label">Kcal:</div>
      <div class="data">{{productDetails?.productKcal}}</div>
    </div>
  </div>
  <h2 class="info--label__description">Description</h2>
  <div class="info--description">
    {{productDetails?.productDescription}}
  </div>
</div>
