<nav class="nav">
  <form class="nav--form">
    <input
      class="nav--form__search"
      type="text"
      autocomplete="off"
      placeholder="Find product!"
    />
    <button class="nav--form__categories--button" type="button" (click)="toggleMenu()">
      <mat-icon *ngIf="!isMenuOpen">arrow_drop_down</mat-icon>
      <mat-icon *ngIf="isMenuOpen">arrow_drop_up</mat-icon>
    </button>
    <button
      class="nav--form__filter--button"
      type="button"
      *ngIf="displayFilter()"
      (click)="toggleFilter.emit()"
    >
      <mat-icon *ngIf="!isFilterOpen">filter_list</mat-icon>
      <mat-icon *ngIf="isFilterOpen">arrow_drop_up</mat-icon>
    </button>
    <button class="nav--form__submit--button" type="button">Search</button>
  </form>
  <div class="nav--category" *ngIf="isMenuOpen" [@inOutAnimation]>
    <h2 class="nav--category__label">Main Categories</h2>
    <div class="nav--category__items">
      <div *ngFor="let item of categories" class="nav--category__item">
        {{ item }}
      </div>
    </div>
  </div>
</nav>
