<nav class="nav">
  <form class="nav--form" (ngSubmit)="onSubmit()">
    <input
      class="nav--form__search"
      type="text"
      autocomplete="off"
      placeholder="Find product!"
      name="productNamePrefix"
      [(ngModel)]="productNamePrefix"
    />
    <button
      class="nav--form__filter--button"
      type="button"
      *ngIf="responsiveFilter?.displayFilter()"
      (click)="toggleFilter.emit()"
    >
      <mat-icon *ngIf="!responsiveFilter?.isFilterOpen">filter_list</mat-icon>
      <mat-icon *ngIf="responsiveFilter?.isFilterOpen">arrow_drop_up</mat-icon>
    </button>
    <button class="nav--form__submit--button" type="submit">Search</button>
  </form>
</nav>
